@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Backgrounds */
  --main-bg: #4f46e5;
  --main-hover-bg: #4e46e546;
}

.bgMain {
  background-color: var(--main-bg);
}

.hover\:bgMain:hover {
  background-color: var(--main-hover-bg);
}

.text-main {
  color: var(--main-bg);
}